.central_po_container {
  padding: 0 50px;
}

.central_po_container h1 {
  text-align: center;

  color: #0b6491;
}

.table_layout {
  background: #fff;
  color: #085379;
  border: 3px solid rgb(0, 159, 180);
}

.table_thead {
  background: #063750;
  color: #fff;
}

.table_container {
  padding: 20px;

  margin-bottom: 30px;
  background: #022e44;
}
