@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
}

.main-container {
}

main {
  padding-top: 50px;

  margin: auto;
  min-height: 100vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.add_button {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: center;
}

.form-container {
  background: rgb(200, 200, 200) !important;
  padding: 40px;
}

.form-container form {
  color: rgb(0, 0, 0);
}

.form-container button {
  border-radius: 5px;
}

.text-muted {
  color: rgb(79, 79, 79) !important;
}

/*Pagination*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item {
  background: #0d6efd;
  border: 1px solid rgb(133, 133, 133);
}

.page-link {
  color: #fff;
  background: #0d6efd;
  border: 1px solid #5dd9f5;
}

.page-link:hover {
  color: #fff;
  background: #013179;
}

.pickers_nav_container {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.pickers_nav_item {
  border: 3px solid #009fb4;
}
